fastapi==0.109.0
uvicorn[standard]==0.27.0
gunicorn==21.2.0

google-cloud-tasks==2.16.0
google-cloud-storage==2.14.0
google-cloud-vision==3.7.2
google-cloud-aiplatform==1.71.1
google-auth==2.27.0

pypdf==4.0.1

cloud-sql-python-connector~=1.0
pg8000==1.30.3
SQLAlchemy==2.0.25
